body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* 设置标题的样式 */
h1 {
  color: #333;
}

/* 设置表格的样式 */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 8px;
  border: 1px solid #ccc;
}

/* 设置表格标题的背景颜色和文本颜色 */
table th {
  background-color: #f2f2f2;
  color: #333;
}

/* 设置表格中奇偶行的背景颜色 */
table tr:nth-child(odd) {
  background-color: #e9e9e9;
}

/* 设置表单输入框和按钮的样式 */
form input[type="text"],
form input[type="number"],
form input[type="password"],
form input[type="submit"] {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}
#userListTable {
  visibility: hidden;
}